*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Kanit', sans-serif;
    background-color: white;
}

#menutop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    width: 100%;
}

header{
    background-image: url("img/background.jpeg");
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

section{
    display: none;
}

#accueil{
    display: block;
}

section:not(:target), section:target ~ #accueil{
    display: none;
}

section:target {
    display: block;
}

#accroche{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    height: 15.5vh;
}

#photo1{
    display: flex;
    justify-content: space-around;
    flex: auto;
    padding-top: 40px;
}

#photo2{
    padding-top: 120px;
    padding-bottom: 20px;
    height: 230px;
    display: flex;
    justify-content: space-around;
    flex: auto;
}

#accueil h2{
    text-align: center;
}

#accueil p{
    padding: 1%;
    text-align: center;
}

#accueil img{
    width: 400px;
    border-radius: 10px;
    box-shadow: #5e5e5e 5px 5px 5px;
}

#a_propos h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#info{
    display: flex;
    justify-content: space-evenly;
}

#dside{
    padding: 1%;
    text-align: center;
    height: 13vh;
}

footer {
    text-align: center;
    font-size: smaller;
    background-image: url("img/background.jpeg");
    margin-top: 10%;
    padding: 35px 0px;
    color:white;
}

.contact2{
    background-image: url("img/background.jpeg");
    padding : 20px;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 60px;
    border-radius: 10px;
    color: white;
}